html{
  font-size: 62.5%; 
  box-sizing: border-box;
}

body{
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./background/blackbackground.jpg");
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

#root{
  height: 100%;
}

/* Layout */

.grid-container{
  display: grid;
  grid-template-areas: 
      'header'
      'main'
      'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #020e42dc;
  position: sticky-top;
}

main{
  grid-area: main;
  padding: 1rem;
}

footer{
  grid-area: footer;
  background-color: #020e4283;
  color: rgb(223, 223, 223);
}

/* Common */

a{
  text-decoration: none;
}

a:hover{
  color: rgb(0, 40, 218);
}

ul{
  padding: 0;
  margin: 0;
  list-style: none;
}

li{
  margin-top: 1rem;
}

button{
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #06134b;
  color: #ffffff;
  cursor: pointer;
}

button:hover{
  border: 0.1rem #ffffff solid;
}

button.block{
  width: 100%;
}

header a{
  color: #ffffff;
  font-size: 1vw;
  font-weight:bold;
  padding: 1rem;
}

a.brand{
  color: #ffffff;
  font-size: 3rem;
  font-weight: bolder;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.center{
  justify-content: center;
}

.row.top{
  align-items: flex-start;
}

.col-1{
  flex: 1 1 25rem;
}

.col-2{
  flex: 2 1 50rem;
}

img{
  border-radius: 0.5rem ;
}

img.medium{
  max-width: 24rem;
  width: 100%;
}

img.large{
  width: 100%;
}

.card{
  border: .7rem #ffffff6c solid;
  background-color: #020e4283;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body{
  padding: 1rem;
}

.card-body > *{
  margin-bottom: 0.5rem;
  font-size: .8vw;
  color: #ffffff
}

.price{
  font-size: 1.5rem;
  color: #ffffff;
}

.rating span{
  color: rgb(255, 255, 0) ;
}

.rating span:last-child{
  color: #ffffff;
}

.success{
  color: green;
}

.error{
  color: red;
}

.alert{
  padding: 1rem;
  border: 0.1rem solid transparent;
  border: 0.5rem;
}

.alert-info{
  color: #2020a0;
  background-color: #e0e0ff;
}

.alert-danger{
  color: #a02020;
  background-color: #ffe0e0e0;
}